# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
media/

# Environments
.env
venv/
env/

# VSCode
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Migrations
*/migrations/*.py
*/migrations/*.pyc
